#header {
    background-color: rgb(224, 223, 223) ;
    height: 80px;
    width: 100%;
    padding: 7px;
    padding-top: 15px;
}
body {
    margin: 0%;
}

a {
    text-decoration: none;
}

#logo {
    margin-top: 0px;
    margin-left: 7px;
    margin-right: 10px;
    width: 40px;
    float: left;
}

#titulo-ventana {
    float: none;
    top: 100px;
}

.botonera {
    /*border: 1px solid #000;*/
    height: 80px;
    padding: 0px;
    border-bottom: 1px solid rgb(234, 234, 234);
}

#button {
    border: 1px solid rgb(208, 208, 208);
    border-radius: 4px;
    width: 50px;
    height: 50px;
    padding: 0px 10px;
}

#button:hover {
    border: 1px solid rgb(208, 208, 208);
    border-radius: 4px;
    box-shadow: 3px 3px 5px darkgray;
    width: 50px;
    height: 50px;
    padding: 0px 10px;
}

#btn-register {
    border: 1px solid rgb(208, 208, 208);
    border-radius: 8px;
    width: 30px;
    height: 30px;
    padding: 10px;
}

#btn-register:hover {
    border: 1px solid rgb(208, 208, 208);
    border-radius: 8px;
    box-shadow: 3px 3px 5px darkgray;
    width: 30px;
    height: 30px;
    padding: 10px;
}

#boton {
    width: 60px;
    float: left;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 20px;;
}

.clear-fix {
    clear: both;
}

.new-member {
    background-image: url('../images/buttons/new-member.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:90%;
}

.gym {
    background-image: url('../images/buttons/gym.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:90%;
}

.registro {
    background-image: url('../images/buttons/check-form.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:90%;
}

.edit {
    background-image: url('../images/buttons/edit.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:90%;
}

.membership {
    background-image: url('../images/buttons/miembros.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:90%;;
}

.transfer {
    background-image: url('../images/buttons/transfer.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:90%;
}

.transfer-membership {
    background-image: url('../images/buttons/transfer-membership.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:90%;
}

#footer {
    position: fixed;
    bottom: 0px;
    background-color: rgb(224, 223, 223) ;
    height: 40px;
    width: 100%;
    padding: 3px;
    text-align: center;
}

#footer a {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.container {
    margin-left: 50px;
    margin-bottom: 30px;
    width: 80%;
}

#table-miembros{
    font-size: 0.8em;
}

#input-busqueda{
    width: 30%;
}

.form-label{
    margin-bottom: 0px;
    padding-bottom: 0px;
}